{% extends 'base.html' %}

{% block content %}
<main>
    <h1> GUDLFT</h1>
    <center>
        <h2>Board of all Clubs's points</h2>
        {% if all_clubs|length < 1 %}
            <p> Sorry, this section has no clubs to display</p>
        {%else%}
            <table>
                <tr>
                    <th>Club name</th>
                    <th>points available</th>
                </tr>
                {%for club in all_clubs %}
                <tr>
                    <td>{{club['name']}}</td>
                    <td>{{club['points']}}</td>
                </tr>
                {%endfor%}
            </table>
        {%endif%}
    </center>
</main>
{% endblock content %}