{% extends 'base.html' %}

{% block content %}
<main>
    <h1>Welcome to the GUDLFT Registration Portal!</h1>

    {% for message in get_flashed_messages() %}
        {% if message %}
            <p class="error">{{message}}</p>
        {% endif%}
    {% endfor%}
    <center>
    <h3>Please enter your secretary email to continue : </h3>
    <form action="showSummary" method="post">
        <label for="email">Email : </label>
        <input type="email" name="email" required id=""/>
        <button class="btn" type="submit">Enter</button>
    </form>
</center>
</main>
{% endblock content %}