{% extends 'base.html' %}

{% block content %}
<main>
    <h2>Welcome, {{club['name']}} </h2>
        {% with messages = get_flashed_messages()%}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li class="error">{{message}}</li>
            {% endfor %}
        </ul>
        {% endif%}
    <article>
    <h3>You have booked : {{places}} places</h3>
    <h3>Points available : {{club['points']}}</h3>
</article>
<h3>Competitions :</h3>
<ul class="competitions-list">
    {% for comp in competitions %}
        <li>
            {{comp['name']}}<br />
            Date: {{comp['date']}}</br>
            Number of Places: {{comp['numberOfPlaces']}}
            {% if comp['numberOfPlaces']|int <= 0 %}
                <p class="link message">This competition is full</p>
            {% elif comp['date'] < current_date %}
                <p class="link message">This competition is over</p>
            {% else %}
                </br>
                <a class="link" href="{{ url_for('book',competition=comp['name'],club=club['name']) }}">Book Places</a>
            {% endif %}
        </li>
    </br><hr /></br>
    {% endfor %}
</ul>
    {%endwith%}
</main>
{% endblock content %}